@{

}

<div class="text-center">
    <p>@ViewData["cabecalho"]</p>
</div>

<div class="alert alert-dismissible alert-success">
  <button type="button" class="close" data-dismiss="alert">&times;</button>
  <strong>Olá!</strong> Seja bem-vindo <a href="#" class="alert-link">Esse é o meu mais novo projeto!</a>.
</div>

<div class="jumbotron">
            <h1 class="display-3">Primeiro Projeto ASP.net MVC</h1>
            <p class="lead">Esse é o meu primeiro projeto em C# usando o Entity Framework com banco MySQL.</p>
            <hr class="my-4">
            <p>É um CRUD que contém vendedores, departamentos e valores das vendas de uma loja utópica.</p>
            <p class="lead">
                <a class="btn btn-primary btn-lg" asp-controller="Sellers" asp-action="Index" role="button">Vendedores</a>
            </p>
            
</div>


